# Flow
# Copyright 2023 Akamai Technologies, Inc.
#
# Licensed under the Apache License, Version 2.0 (the
# "License"); you may not use this file except in
# compliance with the License.  You may obtain a copy
# of the License at
#
#   https://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in
# writing, software distributed under the License is
# distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR
# CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing
# permissions and limitations under the License.

# Current version assumption: clang-15/16/17.

# boost.chrono duration global initializer => std::string uninit value (TODO: too general but...).
# There is a number of these, including things like operator+() which are tough to specify in
# this format; for now going in for a penny + pound, as they say: the entire file.
[memory]
src:*/bits/basic_string.h
